<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>946246099766-ghlvn8gdqo3qe73gtgqbjrtjd7e19b6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946246099766-ghlvn8gdqo3qe73gtgqbjrtjd7e19b6r</string>
	<key>API_KEY</key>
	<string>AIzaSyDropVj1XPBAYB2Zj8yPCfHmCg8wtGJcdw</string>
	<key>GCM_SENDER_ID</key>
	<string>946246099766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.digitalmood.Comic-Cast</string>
	<key>PROJECT_ID</key>
	<string>comic-cast</string>
	<key>STORAGE_BUCKET</key>
	<string>comic-cast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946246099766:ios:2e4f7051c478fe8a</string>
	<key>DATABASE_URL</key>
	<string>https://comic-cast.firebaseio.com</string>
</dict>
</plist>